@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>


<address>
    Auckland,<br />
    New Zealand<br />
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="http://nz.linkedin.com/in/aaron-b">Aaron-B</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/aaronongit">AaronOnGit</a>
</address>