@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SimpleWeb</h1>
    <p class="lead">Hi, I'm Aaron, and this is my project.<br /> It implements register, sign in, sign out, forgot password/reset password, and email send functionalities.</p>
    <p>The controller (<i>AccountController</i>) in this project accesses the service layer (<i>/Services/AccountServices</i>)to execute the actions. This approach helps in achieving modularity to a degree in this project.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account by clicking on Register link in navigation bar above. But wait! You'll need an email service to activate your account! <br />
            I used my gmail account to send emails. Go over to Web.Config file in the project and scroll down to <i>system.net</i> section and hook up your email service.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Meanwhile...</h2>
        <p>I've created an account for you to use. Go over to login page and use:</p>
        <ul>
            <li><strong>Email:</strong> guest@user.com</li>
            <li><strong>Password:</strong> Gu3st@user.com</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Protected content</h2>
        <p>The only content which needs authorization in this project is the <i>About</i> page. Go on! Try to access it whithout logging in.</p>
    </div>
</div>